*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-image: url(../Imagenes/fondoHeader4.jpg);
  height: 750px;
  background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover;
 background-attachment: fixed;
}
.cont_header{

 color: rgba(248, 19, 160, 0.781);
 padding: 2rem;
 margin-top: 1rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

@font-face {
  font-family: LovinSummer;
  src: url(../Fuentes/LovinSummer.ttf);
}


.cont_header h1{
  font-family: LovinSummer;
  font-size: 4rem;
  text-shadow: 5px 5px rgba(253, 253, 253, 0.808);
  margin-left: 2rem;
}

.cont_header ul{
  list-style-type: none;
 
}
.cont_header ul li{
  display: inline;
  color: white;
}

@font-face {
font-family: Lovelt;
src: url(../Fuentes/Lovelt__.ttf);
}

.cont_header a{
  color: rgba(248, 19, 160, 0.781);
  font-family:CourtsideDemo;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

.cont_header a:hover{
  background-color: rgba(255, 255, 255, 0.678);
}



a{
text-decoration: none;
}

.englobador{
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;

}
.descripcion p{
padding: 0.5rem;
font-family:'PT Sans', sans-serif;
}
.descripcion{
  width: 50rem;
  font-family:CourtsideDemo ;
  letter-spacing: 0.2rem;
  color: antiquewhite;
  font-size: 1.5rem;
  margin: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.493);

}
.vacio{
  width: 3rem;
}

.wrapper{
  display: flex;
  background-color: black;
  padding: 1rem;
 
}
.wrapper .static-txt{
  color: #fff;
  font-size:4rem;
  font-weight: 400;
  padding-top: 0.6rem;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #c5fc6d;
  font-size: 4rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 130%;
  width: 100%;
  background: black;
  border-left: 2px solid rgba(248, 19, 160, 0.781);
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.contacto{
  width: 50rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.493);
  /*border: 0.5px solid rgba(255, 255, 255, 0.52);*/
  margin: auto;
  
  margin-top: 5rem;
  padding: 2rem 2rem 2rem 0;
  font-family:'PT Sans', sans-serif;
  color: antiquewhite;
  font-size: 1.2rem;
  
}
.formu{
  display: grid;
  grid-template-areas: "titconsul titconsul"
  "nombre email"
  "consulta consulta"
  "enviar enviar";
  margin-left: 5rem ;

}
@font-face {
  font-family:CourtsideDemo;
  src: url(../Fuentes/CourtsideDemo.ttf);
}
.titcons{
  font-family:CourtsideDemo;
  font-size: 2rem;
  grid-area: titconsul;
  margin-left: 5rem;

}
.nombre{
  margin-top: 1.5rem;
  grid-area: nombre;
 
}
.email{
  grid-area: email;
  margin-top: 1.5rem;
}
.consulta{
  margin-top: 1rem;
  grid-area: consulta;

}
textarea{
  margin-top: 0.5rem;
  padding: 0.5rem;
  width:40rem;
  border-radius: 0.3rem;
  resize: none;
  font-family:'PT Sans', sans-serif;
  border: 1px solid gainsboro;
}

textarea:focus{
  outline: none;
}
.enviar{
  grid-area: enviar;
  width: 5rem;
  height: 2rem;
  border-radius: 0.3rem;
  margin: 1.5rem 17rem 0 17rem;
  border: 1px solid gainsboro;
  background-color:  rgba(0, 0, 0, 0.493);
  color: rgb(250, 235, 215);
  cursor: pointer;
}
.enviar:hover{
  background-color: rgba(248, 19, 160, 0.781);
}

input{
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: 1px solid gainsboro;
  border-radius: 0.3rem;
  height: 1.5rem;
  font-family:'PT Sans', sans-serif;
}

input:focus{
  outline: none;
}

footer{
 height: 10rem;
 display: flex;
 justify-content: center;
 align-items: center;

}

footer a{
 margin: 2rem;
}






.arriba{
  color: ghostwhite;
  display: none;
  padding: 20px;
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
}

.espacio{
  height: 6rem;
}
.nav2{
	display: none !important;
}

@media all and (min-width:600px) and (max-width:1023px){
  
}

@media all and (max-width:599px){
  .cont_header{
    display: grid;
    grid-template-areas: "tit nav"
                          ;
  }
  .cont_header h1{
    grid-area: tit;
    font-size: 3.5rem;
  }

  .nav1{
    display: none;
  }
  .nav2{
    grid-area: nav;
    display: block !important;
   
  }
  .englobador{
    margin-top: 2rem;
  }
  .descripcion{
    width: 25rem;
  }

 
  
  .wrapper .static-txt{
    font-size:3rem;
  }

  .dynamic-txts li{
    font-size: 3rem;
  }
  .descripcion p{
    padding: 0.8rem;
    font-size: 1rem;
  }

  .contacto{
    width: 25rem;
  }

  .espacio{
    height: 0rem;
  }

  .formu{
    display: grid;
    grid-template-areas: "titconsul "
                        "nombre "
                        "email"
                        "consulta "
                        "enviar ";


    margin-left: 2rem ;                     
  }
  .email input{
    width: 16.1rem;
  }
  textarea{
    width: 21rem;
  }

  .enviar{
    margin-left: 8rem;
  }
}